/* BASIC STYLES HERE */

p {
  margin: 0;
  font-size: 0.8rem;
}

.color-picker {
  min-width: 3rem;
}

.input-list-name {
  max-width: 50vw;
}

.text-blue {
  color: blue;
}

.text-bubble {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: fit-content;
  height: fit-content;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
}

/* .draggable {
  position: absolute;
} */

/* input[type=checkbox]:checked+label {
  text-decoration: line-through;
} */